<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-body">
    <h2>{{question.content}}</h2>
    <p>Written by {{question.author}}</p>
    <li>{{question.notes}}</li>
  </div>


  <!-- List group -->
  <div class="panel-footer">
    <div class="list-group">
      <h3>{{question-popularity question}} Answers:</h3>
      {{#each sortedAnswers as |answer|}}
        <p class="list-group-item">{{answer-tile answer=answer question=model destroyAnswer="destroyAnswer"}}</p>
      {{/each}}
    </div>
  </div>
</div>
