
<div class="well well-sm">
  {{#link-to 'question' question.id}}
    <h3>{{question.content}}</h3>
  {{/link-to}}

   asked by  {{question.author}}<br>

   <button class="btn btn-default btn-xs fav-btn" {{action 'addToList' question}}><span class="glyphicon glyphicon-apple" aria-hidden="true"></span></button>

   <p class="answer-number">Answers: {{question-popularity question}}</p>

  {{update-question question=question update="update"}}

</div>
