{{#if updateQuestionForm}}
  <h4>Update {{question.content}} by {{question.author}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="content">Question</label>
          {{input value=content id="content" placeholder=question.content}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" placeholder=question.author}}
        </div>

        <div class="form-group">
          <label for="notes">Notes</label>
          {{textarea value=notes id="notes" placeholder=question.notes}}
        </div>

        <button class="btn btn-xs update-save" {{action 'update' question}}>Save</button>
      </form>
    </div>
{{else}}
    <button class="btn btn-xs update" {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
